@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

    .Btn-1 {
        /* Light Yellow */

        background: #F2B137;
        box-shadow: inset 0px -8px 0px #CC8B13;
        border-radius: 15px;
        width: 410px;
        height: 67px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        cursor: pointer;
        font-family: 'Outfit', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        letter-spacing: 1.25px;
    }

    .Btn-1:hover {
        background: #FFC860;

    }

    .Btn-2 {
        /* Light Blue */

        background: #31C3BD;
        box-shadow: inset 0px -8px 0px #118C87;
        border-radius: 15px;
        width: 410px;
        height: 67px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        cursor: pointer;
        font-family: 'Outfit', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        letter-spacing: 1.25px;
    }

    .Btn-2:hover {
        background: #65E9E4;
    }

    .SecBtn-1 {
        /* Light Yellow */

        background: #F2B137;
        box-shadow: inset 0px -4px 0px #CC8B13;
        border-radius: 10px;
        width: 226px;
        height: 52px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Outfit', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 1px;
        cursor: pointer;
    }

    .SecBtn-1:hover {
        background: #FFC860;
    }

    .SecBtn-2 {
        /* Light Yellow */

        background: #A8BFC9;
        box-shadow: inset 0px -4px 0px #6B8997;
        border-radius: 10px;
        width: 226px;
        height: 52px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Outfit', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 1px;
        cursor: pointer;
    }

    .SecBtn-2:hover {
        background: #DBE8ED;
    }

    .RefreshBtn {
        /* Silver */

        background: #A8BFC9;
        box-shadow: inset 0px -4px 0px #6B8997;
        border-radius: 10px;
        width: 52px;
        height: 52px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .RefreshBtn:hover{
        background: #DBE8ED;
    }
}